/doc/tags
.vagrant/
lib/
nvim/.config/nvim
nvim/.config/nvim/plugin
nvim/.config/nvim/custom
nvim/.config/nvim/spell
nvim/.config/nvim/ftplugin
nvim/.config/nvim/syntax
nvim/.config/nvim/coc-setting.json
nvim/.config/nvim/.luarc.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/after
nvim/.config/nvim/**/.DS_Store
tmux/.tmux/plugins
vim/.vim
vim/.vim/pack/tpope/start/eunuch/plugin/

